@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
*{
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
    outline: none;
}

$main-background-color:#ffffff;
$background-color:#f5f5f5;
$background2-color:#f5f5f5;
$bar-color:#E8A2A8;
$color: #333333;
$fill: #000;
$stroke: #000;
$border-color:#333333;
$border2-color:#E8A2A8;
$nav-color:#888;
$nav-color2:#555;
$box-shadow : rgba(0,0,0,0.2);

// :root[color-theme='dark']{
//     $main-background-color:#1E1E1E !global;
//     $background-color:#1E1E1E !global;
//     $background2-color:#A7A7A7 !global;
//     $bar-color:#f5f5f5 !global;
//     $color: #f5f5f5 !global;
//     $fill: #f5f5f5 !global;
//     $stroke: #f5f5f5 !global;
//     $border-color:#f5f5f5 !global;
//     $border2-color:#3C4042 !global;
//     $nav-color:#aaa !global;
//     $nav-color2:#ddd !global;
//     $box-shadow : rgba(255,255,255,0) !global;
// }

ul,li{list-style: none;}
a{text-decoration: none;color: inherit;}
html,body{min-height: 100%;display: flex;width: 100%;background-color: $main-background-color !important;color: $color !important;transition: 0.3s;}
#root{display: flex;justify-content: flex-end;width: 100%;flex-wrap: wrap;}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    min-height: 100%;
    padding: 4em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid rgba($color: #E8A2A8, $alpha: 0.38);
    z-index: 10;
}

nav{
    margin-top: 1em;
    width: 70%;

    > ul{
        > li{
            display: grid;
            grid-template-columns: 1fr 2fr;
            cursor: pointer;
            margin: 2.5em 0;
            position: relative;
    
            *{transition: 0.3s all;}
            > a{font-size: 1.3em;font-weight: bold;color: $color;}
            svg {
                > path{fill: $fill;}
                > g > path{stroke: $stroke;}
            }

            &.select{
                &::after {
                    content: '';
                    position: absolute;
                    width: 10px;
                    height: 100%;
                    top: 0;
                    left:-60px;
                    border-radius: 20px;
                    transition: 0.3s all;
                }
    
                > a{color: #E8A2A8;}
                > svg{
                    > path{fill: #E8A2A8;}
                    > g > path{stroke: #E8A2A8;}
                }
            }

            &:hover{
                &::after{background-color: #ff98a1 !important;}
                > a{color: #ff98a1 !important;}
                > svg{
                    > path{fill: #ff98a1 !important;}
                    > g > path{stroke: #ff98a1 !important;}
                }
            }
        }
    }
}

#content_header{
    width: calc(100% - 300px);
    height: 110px;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 3em;
    border-bottom: rgba(0, 0, 0, 0);

    &.scroll{
        background-color: $main-background-color;
        border-color: $border-color;
    }
}


#header_user{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: 0.3s all;

    &::after{
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background-color: #3EBF4C;
        bottom: -3px;
        right: -3px;
        transition: 0.3s all;
    }
}

#header_user_img{
    width: 65px;
    height: 65px;
    border-radius: 100%;
    border: 5px solid #E8A2A8;
}


#content_header_nav{
    margin-right: 3em;
    display: grid;
    grid-template-columns: auto 50px 50px 50px 100px 20px;
    width: calc(100% - 6em - 70px);

    > a{
        display: flex;align-items: center;justify-content: center;
        
        > svg > path{transition: 0.3s;}
    }
}

#search_wrap{display: flex;justify-content: flex-end;}
#search{
    width: 100%;
    height: 50px;
    transition: 0.3s background-color,0.3s color, 0.3s box-shadow;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0);
    border-radius: 10px;
    padding: 0.5em 1em;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    > a{width: 50px;display: flex;justify-content: flex-end;}
    > input{
        display: none;
        width: calc(100% - 50px);
        height: 100%;
        background-color: rgba(0, 0, 0, 0);
        border: none;
        outline: none;
        font-size: 1.1em;
        font-weight: bold;
    }

    &.on{
        background-color: $main-background-color;
        box-shadow: inset 0 0 10px $box-shadow;
        > input{display: block;}
    }
}

#toggle{
    width: 60px;
    height: 30px;
    border-radius: 20px;
    margin-left: 0.5em;
    transition: 0.3s all;
    padding: 2.5px;
    cursor: pointer;
    position: relative;
    margin:  auto;
}

#toggle_icon{
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 100%;
    transition: 0.3s;
    position: absolute;
    top: 2px;
    right: 2.5px;

    > *{
        position: absolute;
        top:-3px;
        right: -40px;
    }
}

#visual{
    width: calc(100% - 300px);
    height: 800px;
    box-shadow: 10px 0 20px $box-shadow;
    transition: 0.3s all;
}

#visual_img_wrap{
    width: 100%;
    height: 700px;
    position: relative;
    background-color: $background2-color;
    overflow: hidden;
    transition: 0.3s;
}

.visual_img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#visual_nav{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #fff;
}

.visual_nav_btn{
    background-color: rgba($color: #000000, $alpha: 0);
    border: none;
    width: 100px;
    height: 50px;
    font-size: 2.5em;
    top: calc(50% - 25px);
    left: 0.5em;
    line-height: 50px;
    cursor: pointer;
    transition: 0.3s all;
    z-index: 5;

    svg{fill:$fill;transition: 0.3s all;}
    &:last-child{right: 0.5em;left: auto;}
    &:hover{opacity: 0.5;}
}

.visual_nav_item{
    width: calc(100% / 3);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    border-bottom: 5px solid rgba(0, 0, 0, 0);
    border-top: 5px solid rgba(0, 0, 0, 0);
    &:hover{opacity: 0.5;}
    &.select{
        border-top: 5px solid #ff98a1;
    
        .visual_nav_item_img{border-color: $border-color;}
        h5{color: $color;}
        p{color: $nav-color2;}
    }
}

.visual_nav_item_img{
    width: 60px;
    height: 60px;
    border:2px solid $nav-color;
    border-radius: 100%;
    margin-right: 1.5em;
    transition: 0.3s all;
}


.visual_nav_item_title{
    font-weight: bold;
    font-size: 1.2em;
    color: $nav-color;
    transition: 0.3s all;
}

.visual_nav_item_subTitle{
    font-size: 0.9em;
    color: $nav-color;
    transition: 0.3s all;
}

#content{
    width: calc(100% - 300px);
    padding: 3em;

    section{margin: 1em 0;}
    .content_header{
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .content_title{
            font-size: 1.5em;
            margin-right: 0.5em;
            cursor: pointer;
        }

        svg > path{fill:$fill !important;}
    }

    .content_body{
        width: 100%;
        margin: 2em 0;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.study_item{
    width: 300px;
    height: 250px;
    border-radius: 20px;
    border: 1px solid #ddd;
    background-color: $main-background-color;
    margin-right: 1em;
    overflow: hidden;
    cursor: pointer;

    .study_img{
        width: 100%;
        height: 150px;
        background-color: #ff98a1;
    }

    .study_info{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
    }

    .study_title{
        font-size: 1.2em;
        margin: 1.3em 0 0.1em 0;
    }

    .study_subTitle{font-size: 0.9em;color: $nav-color;}
}
