@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
*{
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
}

:root[color-theme='light']{
    --background-color:#f5f5f5;
    --background2-color:#f5f5f5;
    --bar-color:#E8A2A8;
    --color: #333333;
    --fill: #000;
    --stroke: #000;
    --border-color:#333333;
    --border2-color:#E8A2A8;
    --nav-color:#888;
    --nav-color2:#555;
    --box-shadow : rgba(0,0,0,0.2);
}

:root[color-theme='dark']{
    --background-color:#1E1E1E;
    --background2-color:#A7A7A7;
    --bar-color:#f5f5f5;
    --color: #f5f5f5;
    --fill: #f5f5f5;
    --stroke: #f5f5f5;
    --border-color:#f5f5f5;
    --border2-color:#3C4042;
    --nav-color:#aaa;
    --nav-color2:#ddd;
    --box-shadow : rgba(255,255,255,0.2);
}

ul,li{list-style: none;}
a{text-decoration: none;color: inherit;}
html,body{min-height: 100%;display: flex;width: 100%;background-color: var(--background-color) !important;color: var(--color) !important;transition: 0.3s;}
#root{display: flex;justify-content: flex-end;width: 100%;}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    min-height: 100%;
    padding: 4em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid rgba($color: #E8A2A8, $alpha: 0.38);
    z-index: 10;
}

#logo{display: inline-block; width: 249px;margin: 2em;}
#logo svg{fill:var(--fill);transition: 0.3s;}
nav{
    margin-top: 1em;
    width: 70%;
}

nav > ul > li{
    display: grid;
    grid-template-columns: 1fr 2fr;
    cursor: pointer;
    margin: 2.5em 0;
    position: relative;
}

nav > ul > li *{transition: 0.3s all;}
nav > ul > li > a{
    font-size: 1.3em;
    font-weight: bold;
}

nav > ul > li.select::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 100%;
    top: 0;
    left:-60px;
    background-color: var(--bar-color);
    border-radius: 20px;
    transition: 0.3s all;
}

nav > ul > li > svg > path{fill: var(--fill);}
nav > ul > li > svg > g > path{stroke: var(--stroke);}
nav > ul > li > a{color: var(--color);}

nav > ul > li.select > a{color: #E8A2A8;}
nav > ul > li.select > svg > path{fill: #E8A2A8;}
nav > ul > li.select > svg > g > path{stroke: #E8A2A8;}
nav > ul > li.select::after{background-color: #E8A2A8;}

nav > ul > li:hover > svg > path{fill: #ff98a1;}
nav > ul > li:hover > svg > g > path{stroke: #ff98a1;}
nav > ul > li:hover > a{color: #ff98a1;}
nav > ul > li.select:hover::after{background-color: #ff98a1;}

#content_header{
    width: calc(100% - 250px);
    height: 110px;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 3em;
}

#header_user{
    width: 70px;
    height: 70px;
    border: 3px solid var(--border-color);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: 0.3s all;
}

#header_user_img{
    width: 65px;
    height: 65px;
    border-radius: 100%;
    border: 5px solid #E8A2A8;
}

#header_user::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #3EBF4C;
    bottom: -3px;
    right: -3px;
    border: 2px solid var(--border-color);
    transition: 0.3s all;
}

#content_header_nav{
    margin-right: 3em;
    display: grid;
    grid-template-columns: auto 50px 50px 50px 100px;
    width: calc(100% - 6em - 70px);
}

#content_header_nav > a{display: flex;align-items: center;justify-content: center;}
#content_header_nav a > svg > path{fill:var(--fill);transition: 0.3s;}
#search{
    width: 0px;
    height: 50px;

    transition: 0.3s background-color,color,box-shadow;
    border-radius: 10px;
    padding: 0.5em 1em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    overflow: visible;
    float: right;
}

#search.on{
    width: 100%;
    background-color: var(--background-color);
    box-shadow: 0 0 5px var(--box-shadow);    
}

#search > input{display: none;}
#search.on > input{display: block;}

#search > input{
    width: calc(100% - 50px);
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
}

#search > a{width: 50px;display: flex;justify-content: flex-end;}

#toggle{
    width: 60px;
    height: 30px;
    border: 3px solid var(--border-color);
    border-radius: 20px;
    margin-left: 0.5em;
    transition: 0.3s all;
    padding: 2.5px;
    cursor: pointer;
    position: relative;
    margin:  auto;

}

#toggle_icon{
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: var(--border-color);
    transition: 0.3s;
    position: absolute;
    top: 2px;
    right: 2.5px;
}

:root[color-theme="dark"] #toggle_icon{right:32.5px}

#toggle_icon > *{
    position: absolute;
    top:-3px;
    right: -40px;
}

#visual{
    width: calc(100% - 300px);
    height: 800px;
    box-shadow: 10px 0 20px var(--box-shadow);
    transition: 0.3s all;
}

#visual_img_wrap{
    width: 100%;
    height: 700px;
    position: relative;
    background-color: var(--background2-color);
    overflow: hidden;
    transition: 0.3s;
}

.visual_img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#visual_nav{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    position: relative;
}

.visual_nav_btn{
    background-color: rgba($color: #000000, $alpha: 0);
    border: none;
    width: 100px;
    height: 50px;
    font-size: 2.5em;
    top: calc(50% - 25px);
    left: 0.5em;
    line-height: 50px;
    cursor: pointer;
    transition: 0.3s all;
    z-index: 5;
}

.visual_nav_btn svg{fill:var(--fill);transition: 0.3s all;}
.visual_nav_btn:hover{opacity: 0.5;}
.visual_nav_btn:last-child{right: 0.5em;left: auto;}
.visual_nav_item{
    width: calc(100% / 3);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    border-bottom: 5px solid rgba(0, 0, 0, 0);
    border-top: 5px solid rgba(0, 0, 0, 0);
}

.visual_nav_item:hover{opacity: 0.5;}

.visual_nav_item_img{
    width: 60px;
    height: 60px;
    border:2px solid var(--nav-color);
    border-radius: 100%;
    margin-right: 1.5em;
    transition: 0.3s all;
}


.visual_nav_item_title{
    font-weight: bold;
    font-size: 1.2em;
    color: var(--nav-color);
    transition: 0.3s all;
}

.visual_nav_item_subTitle{
    font-size: 0.9em;
    color: var(--nav-color);
    transition: 0.3s all;
}

.visual_nav_item.select{border-bottom: 5px solid #ff98a1;}
.visual_nav_item.select .visual_nav_item_img{border-color: var(--border-color);}
.visual_nav_item.select h5{color: var(--color);}
.visual_nav_item.select p{color: var(--nav-color2);}